body {
    font-family: "Roboto", sans-serif;
    background-color: #eff5f8;
    color: #001b44;
  }
h1 {
    text-align: center;
  }
  li {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color:  #001b44;
    color: white;
    font-size: 1.5em;
    line-height: 1.5;
  }
li button {
    float: right;
    border: none;
    height: 40px;
    cursor: pointer;
    background-color: #ff7034;
    color: white;
    font-size: 1em;
  }
